.contactElements {
  display: flex;
  padding-top: 60px;
  height: 700px;

  background-image: url("../../../public/Img/Contact/bottom__rects.svg");
  background-repeat: no-repeat;
  background-size: 40% 40%;
  background-position: right calc(20% + 50px) bottom 0px;
}