.contactElements {
  display: flex;
  padding-top: 60px;
  height: calc(100vh - 70px);

  background-image: url("../../../public/Img/Contact/bottom__rects.svg");
  background-repeat: no-repeat;
  background-size: 18% auto;
  background-position: right calc(20% - 50px) bottom 0px;

  @media screen and (max-width:768px){
    flex-direction: column;
    height: auto;
    background-size: 25% auto;
  }
  @media screen and (max-width:500px){
    padding-top: 40px;
    background-position: right calc(20% - 0px) bottom 0px;
  }
}