@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 15px;
  font-weight: 400;
  color: #14142B;
  min-height: 300vh;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 80px;
  margin: 0 auto;

  @media screen and (max-width:1024px){
    padding: 0 60px;
  }
  @media screen and (max-width:768px){
    padding: 0 40px;
  }
  @media screen and (max-width:500px){
    padding: 0 20px;
  }
}

.margin {
  padding-bottom: 70px;
}