.maker {
  display: flex;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 100px auto 0 auto;

  @media screen and (max-width:768px){
    flex-direction: column;
    justify-content: center;
    margin: 70px auto 0 auto;
  }
  @media screen and (max-width:500px){
    margin: 40px auto 0 auto;
  }

  &__info {
    width: 50%;
    padding: 80px 50px 80px 130px;
    background-image: 
    url("../../../public/Img/Home/special__left--main__purple.svg"),
    url("../../../public/Img/Home/special__left--small__purple.svg"),
    url("../../../public/Img/Home/special__left--main__green.svg");
    background-position: 
    right calc(10%) top 0,
    left calc(25%) top 0,
    left calc(15%) bottom 0;
    background-repeat: no-repeat;
    @media screen and (max-width:1024px){
      padding: 40px 50px 40px 130px;
    }
    @media screen and (max-width:768px){
      width: 80%;
      padding: 40px 0px 40px 0px;
      text-align: center;
    }
    @media screen and (max-width:500px){
      width: 80%;
      padding: 20px 0px;
      text-align: center;
    }

    p {
      margin-top: 20px;
      max-width: 400px;
      width: 100%;
      line-height: 23px;
      @media screen and (max-width:768px){
        margin: 20px auto 0 auto;
      }
    }
  }

  &__img {
    position: relative;
    width: 50%;
    background-color: #503AE7;
    background-image: url("../../../public/Img/Home/special__small--rect.svg");
    background-repeat: no-repeat;
    background-position: left calc(5%) top 30%;
    padding: 40px 0px 40px 70px;

    @media screen and (max-width:768px){
      margin-top: 50px;
      width: 80%;
      text-align: center;
    }
    @media screen and (max-width:500px){
      width: 90%;
      padding: 30px;
      margin-top: 20px;
    }

    &--main {
      @media screen and (max-width:1024px){
        width: 100%;
      }
    }

    &--small {
      position: absolute;
      width: 96px;
      height: 96px;
      bottom: 65px;
      left: 65px;
      border-radius: 50%;
      @media screen and (max-width:500px){
        width: 60px;
        height: 60px;
      }
    }

    &--background {
      position: absolute;
      bottom: calc(30%);
      right: calc(24%);
      @media screen and (max-width:768px){
        bottom: calc(30%);
        right: calc(15%);
      }
      @media screen and (max-width:500px){
        bottom: calc(30%);
        right: calc(-5%);
      }
    }
  } 
}